@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Music Library</h1>
    <p class="lead">This ASP.NET web application allows for the creation of users and the manipulating of data on the local server. This data includes media files (songs and images) as users can add 15-second snippets of songs as well as artist and album art.</p>
    <p></p>
</div>